@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap');

html,
body {
  font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111317;
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
